<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.dpacanhella.miguelopolis">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_medicamentos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_medicamentos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".data.api.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".data.api.MyFirebaseInstaceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".UtilitarioActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalhesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".FarmaciaActivity"
            />
        <activity android:name=".OnibusActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".UtilitarioActivity"
            />
        <activity android:name=".FarmaciaActivity"
            android:screenOrientation="portrait"
        android:parentActivityName=".UtilitarioActivity"
        />
        <activity android:name=".RestauranteActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".UtilitarioActivity"
            />

        <activity android:name=".RestauranteDetalhesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".RestauranteActivity"
            />

        <activity android:name=".LanchoneteActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".UtilitarioActivity"
            />

        <activity android:name=".LanchoneteDetalhesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LanchoneteActivity"
            />

        <activity android:name=".ItemUtilitarioActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".UtilitarioActivity"
            />
    </application>

</manifest>