// Here you can add other styles
.react-bs-table-search-form {
	input {
		float: right;
		width: 200px;
		//border: 1px solid red;
	}
}

.react-bs-table-pagination .row div:first-child{
	width: 100%;
	//border: 1px solid red;
}

.react-bs-table-sizePerPage-dropdown .btn span:first-child{
	display: none;
}